<div class='well'>
  <h1>Help Desk</h1>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            <h3><%= 'Create Default Prices <i class="icon-chevron-down"></i>'.html_safe %></h3>
          </a>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <div class="container-fluid">
                <div class="row-fluid">
                  <div class= "span5" >
                    <p>Click below for an in-app walkthrough or view the how-to in a slideshow</p>
                    <p>Please contact support@petsitterspal.com if you need more information or have additional questions</p>
                    <iframe src="//whatfix.com/button.html?flow=860a9390-119b-11e3-a68d-386077c652c2&text=Click+Here+For+In+App+Walkthrough&theme=blue&launch=here" scrolling="no" width="400px" height="35px" frameborder="0"></iframe>
                    <iframe src="//whatfix.com/deck.html#!set-default-prices-for-company/860a9390-119b-11e3-a68d-386077c652c2/" scrolling="no" width="622px" height="461px" frameborder="0"></iframe>
                  </div>              
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <h3><%= 'Customize Client Prices <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
        <div id="collapseTwo" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class= "span8" >
                  <p>Click below for an in-app walkthrough or view the how-to in a slideshow</p>
                  <p>Please contact support@petsitterspal.com if you need more information or have additional questions</p>
                  <iframe src="//whatfix.com/button.html?flow=7d27ddd0-1346-11e3-a68d-386077c652c2&text=Click+here+for+an+in-app+walkthrough&theme=blue&launch=self" scrolling="no" width="400px" height="35px" frameborder="0"></iframe>
                  <iframe src="//whatfix.com/deck.html#!customize-your-client-pricing/7d27ddd0-1346-11e3-a68d-386077c652c2/" scrolling="no" width="622px" height="461px" frameborder="0"></iframe>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          <h3><%= 'Create Visits <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
        <div id="collapseThree" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class= "span8" >
                  <p>Click below for an in-app walkthrough or view the how-to in a slideshow</p>
                  <p>Please contact support@petsitterspal.com if you need more information or have additional questions</p>
                  <iframe src="//whatfix.com/button.html?flow=2862feb0-1373-11e3-a68d-386077c652c2&text=Click+here+for+an+in-app+walkthrough&theme=blue&launch=self" scrolling="no" width="400px" height="35px" frameborder="0"></iframe>
                  <iframe src="//whatfix.com/deck.html#!schedule-visits-for-a-client/2862feb0-1373-11e3-a68d-386077c652c2/" scrolling="no" width="622px" height="461px" frameborder="0"></iframe>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          <h3><%= 'Editing individual visits <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
        <div id="collapseFour" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class= "span8" >
                  <p>You can edit idividual visits by clicking on their entry in the calendar. You can also edit the visit's start time by dragging and dropping them on the calendar.</p>
                  <%= image_tag('calendar.gif') %>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
          <h3><%= 'Generating Invoices for Clients <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
        <div id="collapseFive" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class= "span8" >
                  <p>Click below for an in-app walkthrough or view the how-to in a slideshow</p>
                  <p>Please contact support@petsitterspal.com if you need more information or have additional questions</p>
                  <iframe src="//whatfix.com/button.html?flow=7d127120-15a3-11e3-abfa-386077c652c2&text=Click+here+for+an+in-app+walkthrough&theme=blue&launch=self" scrolling="no" width="400px" height="35px" frameborder="0"></iframe>
                  <iframe src="//whatfix.com/deck.html#!schedule-visits-for-a-client/7d127120-15a3-11e3-abfa-386077c652c2/" scrolling="no" width="622px" height="461px" frameborder="0"></iframe>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  </div>
</div>