<div class="well span11">
  <header>
    <%= javascript_include_tag "password/rgb_password" %>
  </header>
  <% content_for :head do %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <% end %>
  <h2>Free Trial Sign Up</h2>
  <div id="stripe_error" class="alert alert-error" style="display:none" >
  </div>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' }) do |f| %>
    <div class="span4">  
      <% unless params[:plan] == "default" %>
      <h3><%= params[:plan].titleize if params[:plan] %> Subscription Plan</h3>
      <% end %>
      <%= hidden_field_tag 'plan', params[:plan] %>
      <%= f.error_notification %>
      <%= display_base_errors resource %>
      <%= f.input :name, :autofocus => true %> 
      <%= f.simple_fields_for :account_attributes, resource.account do |account_form| %>
        <div>
          <%= account_form.input :name, label: "Company Name" %>
        </div>
      <% end %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <div id="one"></div>
      <div id="two"></div>
      <div id="three"></div>
    
      <div style="clear:both"></div>
      &nbsp;
      <%= f.input :password_confirmation, :required => true %>
    </div>
    <div class='credit-card-input no-js span6' id="skeuocard">
    <% if @user.stripe_token %>
      <p>Credit card acceptance is pending.</p>
    <% else %>
      <label for="cc_type">Card Type</label>
      <select name="cc_type">
        <option value="">...</option>
        <option value="visa">Visa</option>
        <option value="discover">Discover</option>
        <option value="mastercard">MasterCard</option>
        <option value="amex">American Express</option>
        <option value="dinersclubintl">Diners Club</option>
      </select>
        <%= label_tag :cc_number, "Card Number", label_html: { for: 'cc_type' } %>
        <%= text_field_tag :card_number, nil, name: "cc_number" %>
        <%= label_tag :cc_exp, "Expiration Date (mm/yy)" %>
        <%= text_field_tag :cc_exp, nil, name: 'cc_exp' %>
        <%= label_tag :cc_name, "Card Name" %>
        <%= text_field_tag :cc_name, nil, name: "cc_name" %>
        <%= label_tag :cc_cvc, "Card Validation Code" %>
        <%= text_field_tag :card_code, nil, name: "cc_cvc" %>
    <% end %>
    </div>
    
    <div class="span5">
      <%= f.hidden_field :stripe_token %>
      <BR>&nbsp;<BR>
      <%= f.button :submit, 'Get Started!', :class => 'btn-danger btn-large' %>
    </div>
  <% end %>
</div>