<div class="well span11">
  <header>
    <%= javascript_include_tag "password/rgb_password" %>
  </header>
  <% content_for :head do %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
  <% end %>
  <h2>Get Started With you Free Trial</h2>
  <h3>Take control of your business!</h3>
  <div id="stripe_error" class="alert alert-error" style="display:none" >
  </div>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'card_form form-vertical' }) do |f| %>
    <div class="span4">  
      
      <%= hidden_field_tag 'plan', params[:plan] %>
      <%= f.error_notification %>
      <%= display_base_errors resource %>
      <%= f.input :name, :autofocus => true %> 
      <%= f.simple_fields_for :account_attributes, resource.account do |account_form| %>
        <div>
          <%= account_form.input :name, label: "Company Name" %>
        </div>
      <% end %>
      <%= f.input :email, :required => true %>
      <%= f.input :password, :required => true %>
      <div id="one"></div>
      <div id="two"></div>
      <div id="three"></div>
    
      <div style="clear:both"></div>
      &nbsp;
      <%= f.input :password_confirmation, :required => true %>
    </div>
    <div class='credit-card-input no-js span6' id="skeuocard">
    <% if @user.stripe_token %>
      <p>Credit card acceptance is pending.</p>
    <% else %>
      <div class="field">
        <%= label_tag :card_number, "Credit Card Number" %>   
        <%= text_field_tag :card_number, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_code, "Card Security Code (CVV)" %>
        <%= text_field_tag :card_code, nil, name: nil %>
      </div>
      <div class="field">
        <%= label_tag :card_month, "Card Expiration" %>
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"}%>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "card_year"}%>
      </div>
    <% end %>
    </div>
    
    <div class="span5">
      <%= f.hidden_field :stripe_token %>
      <BR>&nbsp;<BR>
      <p>Amount: $10.00 per month beginning on <%= Chronic.parse('14 days from now').strftime('%A, %B %d %Y')%> <p>
      <p><strong>You won't be charged anything during your 14 day trial period</strong>, please contact support@petsitterspal.com with any questions.</p>
      <%= f.button :submit, 'Get Started!', :class => 'btn-danger btn-large' %>
    </div>
  <% end %>
</div>