<div class='well'>

  <h1>Invoices</h1>
  
  <div class="row">
    <div class="span10">
      <table class="table table-hover">
        <thead>
          <th>Invoice #</th>
          <th>Client</th>
          <th>Invoice Amount</th>
          <th>Paid</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <% if invoice.paid == true %>
              <tr class="success">
            <% else %>
              <tr class="warning">
            <%end%>
                <td>
                  <div class="text-center"><%= invoice.id %></div></td>
                <td><%= invoice.client.full_name %></td>
                <td><div class="text-center">$<%= invoice.total_price %></div></td>
                <td><%= invoice.paid_text %></td>
                <td><%= link_to 'Show', invoice %></td>
                <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
                <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  
  <br />
  
  <%= link_to 'New Invoice', new_invoice_path %>
</div>