<%= form_for(@visit_block, :html => { :class => "form-inline"}) do |f| %>
  <%= content_tag "div", id: "client_prices_data", data: {visit_source: current_user.account.client_prices} do %>
    <div class="well">
      <div class='span12'>
        <div class="span3">
          <%= f.label :client_name %>
          <%= f.collection_select :client_name, current_user.account.clients, :last_name, :full_name %>
        </div>
        <div class="span3">
          <%= f.label :user_name %>
          <%= options_from_collection_for_select(current_user.account.users, :id, :name) %>
          <%= f.collection_select :user_id, current_user.account.users, :id, :name %>
        </div>
      </div>
      <div>
        &nbsp;
      </div>
      <div class="span12">

        <div class='span3'>
        <%= f.label :client_prices_id, 'Service Type', class: 'inline' %>
        <%= f.grouped_collection_select :client_prices_id, current_user.account.clients.order(:last_name), :client_prices, :last_name, :id, :visit_type,  include_blank: true %>
        </div>
        <div class='span4'>
          <%= f.label :visit_price, 'Price', class: 'inline' %>
          <div class="input-prepend">
            <span class="add-on success">$</span>
            <%= f.text_field :visit_price %>
          </div>
        </div>
        <%= f.hidden_field :visit_type %>
        <%= f.hidden_field :client_id %>
        
      </div>
      <div>
        &nbsp;
      </div>
      <div class='span12'>
        <div class = 'span3'>
          <%= f.label :american_start_date, "First Visit Date" %>
          <%= f.text_field :american_start_date, :value=>Date.today.strftime('%m/%d/%Y'), :id =>"start_date", :class => 'span2' %>
        </div>
        <div class='span3'>
        <%= f.label :american_end_date, "Last Visit Date" %>
        <%= f.text_field :american_end_date, :value=>Date.today.strftime('%m/%d/%Y'), :id =>"end_date", :class => 'span2' %>  
        </div>
      </div>
      <div>
        &nbsp;
      </div>
			<div class='span12'>
          <div class='span3'>
            <%= f.label :time_text, "Visit Time" %>
            <div class="input-append bootstrap-timepicker">
              <%= f.text_field :time_text, :class => 'span2' %>
              <span class="add-on"><i class="icon-time"></i></span>
            </div>
          </div>
        </div>
        <div class="controls controls-row">
          <%= f.check_box :monday, :style => 'visibility: hidden' %>
          <%= f.check_box :tuesday, :style => 'visibility: hidden' %>
          <%= f.check_box :wednesday, :style => 'visibility: hidden' %>
          <%= f.check_box :thursday, :style => 'visibility: hidden' %>
          <%= f.check_box :friday, :style => 'visibility: hidden' %>
          <%= f.check_box :saturday, :style => 'visibility: hidden' %>
          <%= f.check_box :sunday, :style => 'visibility: hidden' %>
        </div>
        <div class='class12'>
          Days of visits
          <div class="btn-group" data-toggle="buttons-checkbox">
            <button id= "sunday_toggle" type="button" class="btn btn-info">Sunday</button>
            <button id= "monday_toggle" type="button" class="btn btn-primary">Monday</button>
            <button id= "tuesday_toggle" type="button" class="btn btn-primary">Tuesday</button>
            <button id= "wednesday_toggle" type="button" class="btn btn-primary">Wednesday</button>
            <button id= "thursday_toggle" type="button" class="btn btn-primary">Thursday</button>
            <button id= "friday_toggle" type="button" class="btn btn-primary">Friday</button>
            <button id= "saturday_toggle" type="button" class="btn btn-info">Saturday</button>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class: 'btn-success' %>
        </div>
      </div>
  <% end %>
<% end %>
