<%= simple_form_for(@visit_block) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :visit_type %>
    <%= f.input :visit_price %>
    <%= f.input :visit_date_start %>
    <%= f.input :visit_date_end %>
    <%= f.input :monday %>
    <%= f.input :tuesday %>
    <%= f.input :wednesday %>
    <%= f.input :friday %>
    <%= f.input :saturday %>
    <%= f.input :sunday %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
