<%= form_for(@visit_block, :html => { :class => "form-inline"}) do |f| %>
  <%= content_tag "div", id: "client_prices_data", data: {visit_source: current_user.client_prices} do %>
    <div class="well">
      <%= f.label :client_name %>
      <%= f.text_field :client_name, placeholder: 'Last Name', class: "input-medium search-query", data: {autocomplete_source: current_user.clients.order(:last_name).map(&:last_name)} %>
      <div class="controls controls-row">
        <div>
          &nbsp;
        </div>
        <%= f.label :client_prices_id, 'Service Type', class: 'inline' %>
        <%= f.grouped_collection_select :client_prices_id, current_user.clients.order(:last_name), :client_prices, :last_name, :id, :visit_type,  include_blank: true %>
        <%= f.label :visit_price, 'Price', class: 'inline' %>
        <%= f.text_field :visit_price %>
        <%= f.hidden_field :visit_type %>
        <%= f.hidden_field :client_id %>
        
      </div>
      <div>
        &nbsp;
      </div>
      	<%= f.label :visit_date_start, label: "First Visit Date" %>
      <%= f.text_field :american_start_date, :value=>Date.today.strftime('%m/%d/%Y'), :id =>"start_date" %>
        <%= f.label :visit_date_start, label: "Last Visit Date" %>
      <%= f.text_field :american_end_date, :value=>Date.today.strftime('%m/%d/%Y'), :id =>"end_date" %>  
      <div>
        &nbsp;
      </div>
			<div>  
        <%= f.label :time_text, label: "Visit Time" %>
      	<div class="input-append bootstrap-timepicker">
        	<%= f.text_field :time_text %>
          <span class="add-on"><i class="icon-time"></i></span>
        </div>
      <div class="controls controls-row">
        <%= f.check_box :monday, :style => 'visibility: hidden' %>
        <%= f.check_box :tuesday, :style => 'visibility: hidden' %>
        <%= f.check_box :wednesday, :style => 'visibility: hidden' %>
        <%= f.check_box :thursday, :style => 'visibility: hidden' %>
        <%= f.check_box :friday, :style => 'visibility: hidden' %>
        <%= f.check_box :saturday, :style => 'visibility: hidden' %>
        <%= f.check_box :sunday, :style => 'visibility: hidden' %>
      </div>
      <div class="btn-group" data-toggle="buttons-checkbox">
        <button id= "monday_toggle" type="button" class="btn btn-primary">Monday</button>
        <button id= "tuesday_toggle" type="button" class="btn btn-primary">Tuesday</button>
        <button id= "wednesday_toggle" type="button" class="btn btn-primary">Wednesday</button>
        <button id= "thursday_toggle" type="button" class="btn btn-primary">Thursday</button>
        <button id= "friday_toggle" type="button" class="btn btn-primary">Friday</button>
        <button id= "saturday_toggle" type="button" class="btn btn-primary">Saturday</button>
        <button id= "sunday_toggle" type="button" class="btn btn-primary">Sunday</button>
      </div>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn-success' %>
      </div>
    </div>
  <% end %>
<% end %>
