<h1>Listing visit_blocks</h1>

<table>
  <tr>
    <th>Visit type</th>
    <th>Visit price</th>
    <th>Visit date start</th>
    <th>Visit date end</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thurs</th>
    <th>Client ID</th>
    <th>Visit Time</th>
    <th></th>
    <th></th>
  </tr>

<% @visit_blocks.each do |visit_block| %>
  <tr>
    <td><%= visit_block.visit_type %></td>
    <td><%= visit_block.visit_price %></td>
    <td><%= visit_block.visit_date_start %></td>
    <td><%= visit_block.visit_date_end %></td>
    <td><%= visit_block.monday %></td>
    <td><%= visit_block.tuesday %></td>
    <td><%= visit_block.wednesday %></td>
    <td><%= visit_block.thursday %></td>
    <td><%= visit_block.client_id %></td>
    <td><%= visit_block.visit_time %></td>
    <td><%= link_to 'Show', visit_block %></td>
    <td><%= link_to 'Edit', edit_visit_block_path(visit_block) %></td>
    <td><%= link_to 'Destroy', visit_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Visit block', new_visit_block_path %>
