<div class="well">
  <%= simple_form_for(@visit) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.association :client, label_method: :full_name %>
      <%= f.input :american_start_date, input_html: { id: 'visit_date' } %>
      <div class="input-append bootstrap-timepicker">
        <%= f.text_field :time_text %>
        <span class="add-on"><i class="icon-time"></i></span>
      </div>
      <div class="input-append bootstrap-timepicker">
        <%= f.text_field :end_time_text %>
        <span class="add-on"><i class="icon-time"></i></span>
      </div>
      <%= f.input :visit_price, as: :string %>
      
    </div>
  
    <div class="form-actions">
      <%= f.button :submit %>
      <%= link_to 'Destroy', @visit, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>