<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @visit.client_id %>
</p>

<p>
  <b>Visit type:</b>
  <%= @visit.visit_type %>
</p>

<p>
  <b>Visit price:</b>
  <%= @visit.visit_price %>
</p>

<p>
  <b>Visit date:</b>
  <%= @visit.visit_date %>
</p>

<p>
  <b>Invoice:</b>
  <%= @visit.invoice_id %>
</p>

<%= link_to 'Destroy', @visit, method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
