<div class="controls controls-row">
  <div class='span10'>
    <% if f.object.custom == true  %>
      <% if f.object.default_price_id.nil? %>
        <%= f.input :custom, disabled: true, :wrapper_html => { :class => 'span1' } %>
      <% else %>
        <%= f.input :custom, :wrapper_html => { :class => 'span1' } %>
      <% end %>
      <%= f.input :visit_type, :wrapper_html => { :class => 'span2' } %>
      <%= f.input :price, :wrapper => :prepend, :wrapper_html => { :class => 'span2' }, :label => "Price" do %>
        <%= content_tag :span, "$", :class => "add-on" %>
        <%= f.input_field :price %>
    		<% if f.object.default_price_id.nil? %>
        	<%= f.link_to_remove '<i class="icon-remove"></i>'.html_safe, :class => 'btn btn-danger', :wrapper_html => { :class => 'span3 pull-left' } %>
    		<% else %>
    		<% end %>
        <%end%>
    <% else %>
      <%= f.input :custom, :wrapper_html => { :class => 'span1' } %>
      <%= f.input :visit_type, disabled: true, :wrapper_html => { :class => 'span2' } %>
      <%= f.input :price, disabled: :custom, :wrapper => :prepend, :wrapper_html => { :class => 'span2' }, :label => "Price" do %>
        <%= content_tag :span, "$", :class => "add-on" %>
        <%= f.input_field :price, disabled: true %>
        <%end%>
    <%end%>
  </div>
</div>