<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="form-horizontal">
    <div class='span4'>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :address_1 %>
      <%= f.input :address_2 %>
      <%= f.input :city %>
      <%= f.input :state %>
      <%= f.input :zip %>
    </div>
    <div class='span4'>
      <%= f.input :phone_number %>
      <%= f.input :cell_phone %>
      <%= f.input :emergency_phone %>
      <%= f.input :security_code %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.input :active, :input_html => { :checked => true } %>
      <%= f.input :additional_notes, :input_html => { :rows => '6' } %>
      <div class="controls">
        <%= f.button :submit %>
        <a class="btn btn-link" href="javascript:history.go(-1)">Back</a>
      </div>
    </div>
  </div>
  <div class="span8">
    <div>
      
    </div>
  </div>
<% end %>
