<h1>Client Search</h1>
<p>
<%= link_to 'New Client <i class="icon-user icon-white"></i>'.html_safe, new_client_path, class: "btn btn-primary" %>
<%= form_tag clients_path, :method => 'get' do %>
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search], class: "input-medium search-query" %>
    <%= button_tag(:type => 'submit', :class => 'btn') do %>
			Search <i class="icon-search"></i>
<% end %>
  </p>
<% end %>
<p>
  <table class="table table-hover table-bordered">
  <thead>
    <th><%= sortable "last_name", "Last name" %></th>
    <th><%= sortable "first_name", "First name" %></th>
    <th><%= sortable "email", "Email" %></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
	<tbody>
    <% for client in @clients %>
  		<tr>
    		<td><%= client.last_name %></td>
    		<td><%= client.first_name %></td>
    		<td><%= client.email %></td>
    		<td><%= link_to 'View Client', client, class: "btn" %></td>
    		<td><%= link_to 'Edit', edit_client_path(client), class: "btn" %></td>
  		</tr>
		<% end %>
	</tbody>
</table>
<%= will_paginate @clients %>

<br />

<%= link_to 'New Client <i class="icon-user icon-white"></i>'.html_safe, new_client_path, class: "btn btn-primary" %>
