<p id="notice"><%= notice %></p>
<h1><%= @client.first_name%> <%= @client.last_name %></h1>
<div class="well">
  <h3>Client Information</h3>
  <div class="container-fluid">
    <div class="row-fluid">
			<div class= "span5" >
        <div>
          <b>Email:</b>
          <%= @client.email %>
        </div>
        <div>
	        <b>Address 1:</b>
  	      <%= @client.address_1 %>
        </div>
        <div>
          <b>Address 2:</b>
          <%= @client.address_2 %>
        </div>
        <div>
          <b>City:</b>
          <%= @client.city %>
        </div>
        <div>
          <b>State:</b>
          <%= @client.state %>
        </div>
        <div>
          <b>Zip:</b>
          <%= @client.zip %>
        </div>
        <div class="visible-phone">
          <br>
          	<%= link_to 'View on Map', "https://maps.google.com/maps?q=#{@client.address_1}+#{@client.address_2}+#{@client.city}+#{@client.state}", class: "btn btn-info", :target => "_blank" %>
        </div>  
      </div>
			<div class="span5 hidden-phone">
        <div class="row-fluid">
          <div class="span5">
					<%= gmaps("map_options" => {:container_class => "map_container_renamed", "zoom" => 15, "auto_zoom" => false},"markers" => { "data" => @json }) %>
          </div>
      	</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
	<div class="span9">
    <%= link_to 'Edit <i class="icon-pencil icon-white"></i>'.html_safe, edit_client_path(@client), class: "btn btn-success"%> |
    <%= link_to 'New Client <i class="icon-plus icon-white"></i>'.html_safe, new_client_path, class: "btn btn-primary" %> |
    <%= link_to 'Clients <i class="icon-group icon-white"></i>'.html_safe, clients_path, class: "btn" %> 
  </div>
</div>
