<div class="well">
  <h1><%= @client.first_name%> <%= @client.last_name %></h1>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          <h3><%= 'Client Information <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class= "span5" >
                  <div>
                    <b>Email:</b>
                    <%= @client.email %>
                  </div>
                  <div>
                    <b>Address 1:</b>
                    <%= @client.address_1 %>
                  </div>
                  <div>
                    <b>Address 2:</b>
                    <%= @client.address_2 %>
                  </div>
                  <div>
                    <b>City:</b>
                    <%= @client.city %>
                  </div>
                  <div>
                    <b>State:</b>
                    <%= @client.state %>
                  </div>
                  <div>
                    <b>Zip:</b>
                    <%= @client.zip %>
                  </div>
                  <div>
                    <b>Phone Number:</b>
                    <%= @client.phone_number %>
                  </div>
                  <div>
                    <b>Cell Number:</b>
                    <%= @client.cell_phone %>
                  </div>
                  <div>
                    <b>Emergency Number:</b>
                    <%= @client.emergency_phone %>
                  </div>
                  <div>
                    <b>Security Code (Building or Alarm):</b>
                    <%= @client.security_code %>
                  </div>
                  <div>
                    <b>Additional Notes:</b>
                    <%= @client.additional_notes %>
                  </div>
                  <div class="visible-phone">
                    <br>
                    <%= link_to 'View on Map <i class="icon-map-marker"></i>'.html_safe, "https://maps.google.com/maps?q=#{@client.address_1}+#{@client.address_2}+#{@client.city}+#{@client.state}", class: "btn btn-info", :target => "_blank" %>
                  </div>
                </div>
                <div class="span5 hidden-phone">
                  <div class="row-fluid">
                    <div class="span12">
                      <%= gmaps("map_options" => {:container_class => "map_container_renamed", "zoom" => 15, "auto_zoom" => false}, "markers" => { "data" => @json }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          <h3><%= 'Client Pricing <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <%= simple_nested_form_for @client do |f| %>
          <%= f.fields_for :client_prices %>

          <%= f.link_to_add "Add a custom price", :client_prices, :class => 'btn btn-success' %>
          <p>&nbsp;</p>
          <div class="controls">
            <%= f.button :submit, :class => 'btn btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          <h3><%= 'Pets <i class="icon-chevron-down"></i>'.html_safe %></h3>
        </a>
      </div>
      <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
          <div class="span12">
            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#listpets" data-toggle="tab">List</a>
                </li>
                <li>
                  <a href="#addpet" data-toggle="tab">Add a pet</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="listpets">
                  <div class="row">
                    <div class="span10">
                      <table class="table table-hover">
                        <thead>
                          <th>Animal Name</th>
                          <th>Type</th>
                          <th>Breed</th>
                          <th>Color</th>
                          <th>Fixed</th>
                          <th>BirthDay</th>
                          <th>Active</th>
                          <th>Sex</th>
                          <th></th>
                        </thead>
                        <tbody>
                        <% for pet in @pets %>
                        <tr>
                          <td><%= pet.animal_name %></td>
                          <td><%= pet.pet_type %></td>
                          <td><%= pet.breed %></td>
                          <td><%= pet.color %></td>
                          <td><%= pet.fixed %></td>
                          <td><%= pet.american_start_date %></td>
                          <td><%= pet.active %></td>
                          <td><%= pet.sex %></td>
                          <td><a href="#myModal" role="button" class="btn" data-toggle="modal">View Notes</a>

                          <!-- Modal -->
                            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel"><%= pet.animal_name%>'s Notes</h3>
                              </div>
                              <div class="modal-body">
                                <p><%=pet.notes%></p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                              </div>
                            </div>
                          <td><a href="#editModal" role="button" class="btn btn-success" data-toggle="modal">Edit Details</a>

                          <!-- Modal -->
                            <div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModallabel" aria-hidden="true">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="editModallabel">Edit <%= pet.animal_name%></h3>
                              </div>
                              <div class="modal-body">
                                <%= simple_form_for(pet) do |f| %>
                                <%= f.input :animal_name %>
                                <%= f.input :pet_type %>
                                <%= f.input :breed %>
                                <%= f.input :color %>
                                <%= f.input :fixed %>
                                <%= f.input :american_start_date, label: 'BrithDate' %>
                                <%= f.input :active %>
                                <%= f.input :sex %>
                                <%= f.input :notes %>

                              </div>
                              <div class="modal-footer">
                                <%= f.button :submit %>
                                <% end %>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                              </div>
                            </div>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="addpet">
                  <%= simple_form_for([@client, @client.pets.build]) do |f| %>
                  <%= f.hidden_field :client_id, value: @client.id %>
                  <%= f.input :animal_name %>
                  <%= f.input :pet_type %>
                  <%= f.input :breed %>
                  <%= f.input :color %>
                  <%= f.input :fixed %>
                  <%= f.input :american_start_date,label: 'BrithDate', input_html: { id: 'birth_date' } %>
                  <%= f.input :active %>
                  <%= f.input :sex %>
                  <%= f.input :notes %>
                  <%= f.button :submit %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
    <%= link_to 'Edit Client <i class="icon-pencil icon-white"></i>'.html_safe, edit_client_path(@client), class: "btn btn-success"%> |
    <%= link_to 'New Client <i class="icon-plus icon-white"></i>'.html_safe, new_client_path, class: "btn btn-primary" %> |
    <%= link_to 'Clients <i class="icon-group icon-white"></i>'.html_safe, clients_path, class: "btn" %>
    <%= link_to 'Delete', @client, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
<br></br>
