<div class='well span11'>
    <%= form_tag("/searches", method: "get") do %>
      <%= label_tag(:id, "Search for Invoice Id:") %>
      <%= text_field_tag(:id, nil, required: true, placeholder: params[:id]) %>
      <%= label_tag(:last_name, "Search for Last Name:") %>
      <%= text_field_tag(:last_name, nil, required: true, placeholder: params[:last_name]) %>
      <%= submit_tag("Search", :class => 'btn btn-primary') %>
    <% end %>
  <% if @invoice == nil && params[:id] == nil %>
  Search for your invoice above.
  <% elsif @invoice %>
  <%= render partial: "results", locals: {invoice: @invoice, visits: @visits} %>
  <% else %>
  <div class="alert alert-error">
    Nothing found, please check your invoice number and name spelling.
  </div>
  <% end %>
</div> 