<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @default_price.user_id %>
</p>

<p>
  <b>Visit type:</b>
  <%= @default_price.visit_type %>
</p>

<p>
  <b>Price:</b>
  <%= @default_price.price %>
</p>


<%= link_to 'Edit', edit_default_price_path(@default_price) %> |
<%= link_to 'Back', default_prices_path %>
